body {
    padding:15px;
}

code {
    background-color: f1f1f1;
}

body, * {
    font-family: monospace;
    font-size: 16px;
    max-width: 600px;
}

h1 {
    font-size: 2em;
}

.js-input {
    width: 100%;
    max-width: 600px;
    height: 100px;
}

.js-output {
    width: 100%;
    max-width: 600px;
    height: 450px;
}

.error-message {
    color: red;
}

